<h1><%=@setting.title%></h1>
~<label><i><%=@setting.high_concept%></i></label>
<br><br>

GENRE: <%= @setting.genre %><br>
WRITER: <%= link_to @setting.writer.icon, writer_path(@setting.writer) %><br>
STORY: 

<p><%= @setting.story %><p>

<%= link_to "Factions", setting_factions_path(@setting) %>

<ul>
<% @setting.factions.important.each do |faction| %>
    <li><%= link_to faction.name, setting_faction_path(@setting, faction) %> ~ <%= faction.blurb %></li>
<% end %>
<li><%= link_to "add New Faction", new_setting_faction_path(@setting) %></li>
</ul>

<%= link_to "Characters", setting_characters_path(@setting) %>

<ul>
<% @setting.characters.important.each do |character| %>
    <li><%= link_to character.name, setting_character_path(@setting, character) %> ~ <%= character.blurb %></li>
<% end %>
<li><%= link_to "add New Character", new_setting_character_path(@setting) %></li>
</ul>

Locations:

<ul>
<% @setting.locations.important.each do |location| %>
    <li><%= link_to location.name, setting_location_path(@setting, location) %> ~ <%= location.blurb %></li>
<% end %>
</ul>

Cowriters:

<ul>
<% @setting.cowriters.each do |writer| %>
    <li><%= writer.icon %> ~ <%= link_to writer.handle, writer_path(writer) %></li>
<% end %>
</ul>

<br><br>

<% if session[:writer_id] and session[:writer_id] == @setting.writer_id %>
    <%= button_to "Edit Setting", edit_setting_path(@setting), method: :get %>
<% end %>