<h1><%=@entity.name%></h1>
~ <label><i><%=@entity.blurb%></i></label>
<br><br><br>

Members:
<br>
<ul>
<% @entity.characters.each do |character| %>
    <li><%= link_to character.name, setting_character_path(character.setting, character) %> ~ <%=character.blurb%></li>
<% end %>
</ul>
<br><br>

~ <a href="/writers/<%= @entity.writer.id%>"><i><%= @entity.writer.icon %></i></a>

<% if session[:writer_id] and session[:writer_id] == @entity.writer.id %>
<%= link_to "Edit Faction", edit_setting_faction_path(@entity.setting, @entity) %>
<% end %>