<%= form_for(@writer) do |f| %>
    <%= f.label :handle %>
    <%= f.text_field :handle %><br>
    <%= f.label :password %>
    <%= f.password_field :password %><br>
    <%= f.label :icon %>
    <%= f.text_field :icon %><br>  
    <%= f.submit %>  
<% end %>

<% unless @writer.errors.empty? %>
ERRORS
    <ul><% @writer.errors.messages.keys.each do |field| %>
        <% if @writer.errors.messages[field][0] %>
            <li><%= "That #{field} #{@writer.errors.messages[field].last}." %></li>
        <% end %>
    <% end %></ul>
<% end %>