<h1><%=@writer.handle%></h1>
~<label><i><%=@writer.icon%></i></label>
<br><br>

Settings:

<ul>
<% @writer.settings.each do |setting| %>
    <li><%= link_to setting.title, setting_path(setting) %> ~ <%= setting.high_concept %></li>
<% end %>
</ul>

<br>

Characters:

<ul>
<% @writer.characters.each do |character| %>
    <li><%= link_to character.name, setting_character_path(character.setting, character) %> ~ <%= character.blurb %></li>
<% end %>
</ul>

<br>

Factions:

<ul>
<% @writer.factions.each do |faction| %>
    <li><%= link_to faction.name, setting_faction_path(faction.setting, faction) %> ~ <%= faction.blurb %></li>
<% end %>
</ul>

<br><br>

<% if session[:writer_id] and session[:writer_id] == @writer.id %>
    <form action="/writers/<%= @writer.id %>/edit" method="get">
        <input type="submit" value="Edit Information">
    </form>
<% end%>