<!DOCTYPE html>
<html>
  <head>
    <title>Drosselmeyer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
  .header {
    position: fixed;
    background-color: yellow;
  }
  </style>

  <div class="header">
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
        <label><b>Navigation:</b></label>
        <a class="navbar-brand" href="<%= root_url %>" >Home</a>
        <% if session[:writer_id] and Writer.find_by(id: session[:writer_id]) %>
          <a class="navbar-brand" href="<%= writer_path(session[:writer_id]) %>" ><%= Writer.find(session[:writer_id]).handle %></a>
        <% else %>
          <a class="navbar-brand" href="<%= new_writer_path %>" >Sign Up</a>
          <a class="navbar-brand" href="<%= signin_path %>" >Sign In</a>
        <% end %>       
        <a class="navbar-brand" href="<%= signout_path %>" >Sign Out</a>
        </div>
      </div>
    </div>
  </div>

  <body>
    <br>
    <%= yield %>
  </body>

  <style>
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aqua;
    color: black;
    text-align: center;
  }
  </style>
  
  <div class="footer">
    <p><b>DROSSELMEYER</b></p>
  </div>
</html>
